<% style ||= "" %>
<button style="<%= style %>"
  class="btn btn-add-food popovers"
  data-content="<%= render 'shared/add_food_popover' %>">
  <%= image_tag "food_icon.png", alt: "add food", size: "30x30" %>
</button>
