<% style ||= "" %>
<a style="<%= style %>"
  class="btn btn-action btn-link"
   data-target="#comment_collapse_<%=post.id%>"
   data-toggle="collapse">
   <i class="icon-comment icon-white"></i>
</a>
