<% style ||= "" %>
<% user = current_user || User.new %>
<% if user.sharing?(post) %>
  <%= link_to post.shared_by(user),
    remote: :true,
    method: :delete,
    id: "share_action_btn_#{post.id}",
    class: "btn btn-action btn-link",
    title: "已分享",
    style: style,
    data: { confirm: "取消分享？" } do %>
    <i class="icon-check"></i>
  <% end %>
<% else %>
  <a id="share_action_btn_<%=post.id%>"
    style="<%=style%>"
    class="btn btn-action btn-link"
    data-target="#share_modal_<%=post.id%>"
    data-toggle="modal">
    <i class="icon-share"></i>
  </a>
<% end %>
