<div class="center hero-unit"
  style="background-image:url(<%= image_path "homepagebg.png" %>);">
  <div class="img-rounded" style="background-color:#cccccc">
  <br/>  
  <h1>欢迎来到 Foods Watch!</h1>
  <h5>
    —— I pledge my life and honor to the Foods Watch,
    for this food and all the foods to come.
  </h5>
  <h4>
    Foods Watch是一个提供了食物分享记录功能的微博，分享你的食物，
    记录你的日常营养
  </h4>
  <br/> 
  </div>
  <br/> 
  <%= link_to "现在注册吧！", 
    signup_path, class: "btn btn-large btn-danger" %>
</div>
