<div class="row">
  <div class="col-xs-6" style="margin-top:20%;">

  </div>

  <div class="col-xs-6 center">
    <div class="container img-thumbnail">
      <h2>欢迎来到 FOODSWATCH</h2>

      <h4>
        —— I pledge my life and honor to the Foods Watch,
        for this food and all the foods to come.
      </h4>

      <%= form_for(User.new) do |f| %>
      <%= render 'users/fields', f: f %>
      <div class="row-fluid">
        <div class="col-xs-6">
          <%= f.submit "加入", class: "btn btn-block btn-success"%>
        </div>
        <div class="col-xs-6">
          <%= link_to "登陆", signin_path, class: "btn btn-block btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>

</div>
