<div class="center hero-unit">
  <h1>Welcome to Foods Watch!</h1>
  <h2>
    I pledge my life and honor to the Foods Watch,
    for this food and all the foods to come.
  </h2>

  <%= link_to "Sign up now!", 
    signup_path, class: "btn btn-large btn-primary" %>
</div>
