<input id='watch_list' type='hidden' value='<%= current_user.watch_list_string %>'/>

<div class="row">
  <div class="col-md-4 col-md-push-8">
    <%= render 'layouts/aside', user:current_user, page: "home" %>
  </div>
  <div class="col-md-8 col-md-pull-4" >
    <%= render 'shared/feed' %>
  </div>
</div>
