<h1>欢迎加入 FOODSWATCH, <%= @user.name %></h1>
<p>
  你已经光荣宣誓成为 FOODSWATCH 的一员啦！
  你的用户名是: <%= @user.name %>.<br>
</p>
<p>
  请点击这个链接来激活你的邮箱: <%= @url %>.
  如果无法点击，请复制该地址并粘贴到你浏览器的地址栏以访问。
</p>
<p>谢谢注册，祝你心情愉快</p>
