= f.text_field :name, class: 'form-control', placeholder: '用户名'
= f.text_field :email, class: 'form-control', placeholder: '电子邮箱'
= f.password_field :password, class: 'form-control', placeholder: '密码'
