<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'layouts/aside', user: @user, page: "show" %>
  <div class="span8">
    <% if @user.microposts.any? %>
      <ol class="microposts accordion" id="accordion2">
        <%= render @microposts, page: "show" %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

