<% provide(:title, @user.name) %>
<div class="row-fluid">
  <div class="span4">
    <%= render 'layouts/aside', user: @user, page: "show" %>
  </div>
  <div class="span8">
    <% if @microposts.any? %>
      <ol class="microposts">
        <%= render @microposts, page: "show" %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
