- provide(:title, @user.name)

- content_for :aside
  = render 'layouts/aside', user: @user, page: 'show'

= render 'shared/micropost_list', action: :microposts, user_id: @user.id, page: @page, microposts: @microposts
