<div id='add_food_popover'>
  <div id='form'>
    <div id='food_id_input_sample' hidden='true'>
      <input type='hidden' name='food_ids[]' type='text'/>
    </div>
    <input class='watch-list-typeahead' autocomplete='off'  
           placeholder='Search from watch list...' type='text'/>
    <a href='#new_food_collapse'
       data-toggle='collapse'
       title='Create New Food'
       class='btn btn-success'
       id='new_food_btn'
       style='float:right;margin-bottom:5px'>NEW</a> 
    <div hidden='true' id='label_sample'>
      <a class='label click_del' title='click to delete' style='float:left;'></a>
    </div>
    <input id='watch_list' type='hidden'
           value='<%= current_user.watch_list_string %>'/> 
  </div>
</div>
    
  <div id='new_food_collapse' class='collapse' style='margin-top:38px'>
    <div id='new_food_form'>
      Food name:     <input name='foods[][name]' type='text'
                            placeholder='enter a food name...'
                            autocomplete='off'
                            class='name' maxlength='15'
                            title='15 letters at most'/>
      Carb (g):      <input name='foods[][carb]' type='text' placeholder='0'
                            autocomplete='off'
                            class='nutri' maxlength='3'
                            title='integer only'/>
      Protein (g):   <input name='foods[][prot]' type='text' placeholder='0'
                            autocomplete='off'
                            class='nutri' maxlength='3'
                            title='integer only'/>
      Fat (g):       <input name='foods[][fat]'  type='text' placeholder='0'
                            autocomplete='off'
                            class='nutri' maxlength='3'
                            title='integer only'/>
    </div>
      <button data-target='#new_food_collapse'
         data-toggle='collapse'
         title='Create New Food'
         class='btn btn-primary disabled'
         disabled='disabled'
         id='create_food_btn'>OK
      </button>
  </div>
