<%= form_for(@micropost, remote:true, html:{id: "new_post_form"}) do |f| %>

  <div class="row">

    <div class="col-xs-12">
      <%= f.text_area :content, placeholder: "写写你今天吃了啥...",
      id: "new_post_textarea",
      class: "letter_count form-control", "data-container" => "body",
      "attached-btn" => "#post_btn"%>
    </div>

  </div>

  <div class="row">
    <div class="col-xs-6">
      <button class="btn btn-warning btn-block btn-foods">
        食物
      </button>
    </div>

    <div class="col-xs-6">
      <button form-id="new_post_form"  class="btn btn-primary btn-block btn-submit">
        发布
      </button>
    </div>
  </div>

  <div hidden="true" id="food_form"></div>
  <input type="hidden" name="create_type" value="create"/>
<% end %>

<div> <%= render 'shared/foods_panel' %> </div>
