<%= form_for(@micropost, remote:true, html:{id: "new_post_form"}) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div id='choosed'></div>
  <br/>
  <div class="field">
    <input type="hidden" value="_micropost">
    <%= f.text_area :content, placeholder: "写写你今天吃了啥...",
      id: "new_post_textarea",
      class: "letter_count", "data-container" => "body",
      "attached-btn" => "#post_btn"%>
  </div>
  <div class="post row-fluid">

    <div class="span4">
      <h6 class="surplus_count"
        style="margin-top:8px;float:left"
        id="surplus_count_micropost">
      </h6>
    </div>

    <div class="span8 btn-group">
      <div class='btn-group' style='float:right'>
        <a class="btn btn-warning btn-large btn-foods">
          食物
        </a>
        <a form-id="new_post_form"
          textarea-id="new_post_textarea"
          id="post_btn" class="btn btn-inverse btn-large btn-submit">
          发布
        </a>
      </div>
    </div>

  </div>

  <div hidden="true" id="food_form"></div>
  <input type="hidden" name="create_type" value="create">
<% end %>

<div>
  <%= render 'shared/foods_panel' %>
<div>
