<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <input type="hidden" value="_micropost">
    <%= f.text_area :content, placeholder: "Compose new micropost...",
      class: "letter_count" %>
  </div>
  <div class="post">
    <p class="surplus_count"
        id="surplus_count_micropost"></p>
  </div>   
<% end %>
