<span class="content">
  <%= wrap(micropost.content) %>
  <% micropost.foods.each do |food| %>
    <%= render 'shared/food_tag', food: food %>
  <% end %>
  <% if micropost.original_id? %>
    || 转自：
    <% o_user = micropost.original_post.user %>
    <%= link_to "@" + o_user.name %>
  <% end %>
    <br/>
    <br/>
</span>

<% if ["feed", "show", "share", "comment"].include?(page) %>
  <span class="timestamp">
    <%= micropost.created_at %>
  </span>
<% end %>
