<%
  delete = current_user?(micropost.user)

  if page == "feed" || page == "show" || page == "detail"
    watch, comment = [true, true]
    share = !delete
  end

  if page == "comment"
    watch, share, comment = [false,false,false]
  end
%>


<div class="post-action">
  <div class="post_action_panel_<%= micropost.id %>">
    <% { watch_post: watch, share: share, delete: delete, comment: comment}.each_pair do |k, v| %>
      <div class="row">
        <div class="col-xs-12">
          <%= render "buttons/#{k}", post: micropost if v %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% if signed_in? %>
  <%= render 'microposts/share_modal', micropost: micropost, page: page %>
<% else %>
  <%= render 'shared/sign_in_modal' %>
<% end %>
