<div id="sign_in_modal" class="modal hide fade" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
      aria-hidden="true">×</button>
    <h4 id="share-modal">please sign in</h4>
  </div>
  <div class="modal-body">
    <%= render 'shared/sign_in_form' %>
  </div>
</div>
