<h1>
  <%= gravatar_for user %>
  <%= user.name %>
</h1>
<% if complex %>  
  <span><%= link_to "view my profile", user %></span>    
<% end %> 
<span><%= pluralize(user.microposts.count, "micropost") %></span>


