<% food = post.post_food %>
<% user = current_user || User.new %>
<% watch = user.watches.build(food_id: food.id) %>
<% html = { method: :post, id: form_id , style: "margin-bottom:-8px;"} %>

<%= form_for(watch, html: html, remote: true) do |f| %>
  <%= f.hidden_field :food_id %>
  <input type="hidden" name="container" value="<%= post.id %>"/>
  <div class='input-append'>
    <input class='form-control name'
      name="name" type='text'
      placeholder='取个名字吧...'
      autocomplete='off' />
    <%= f.submit "合并", class: "btn btn-warning" %>
  </div>
<% end %>
