<!-- require Micropost post -->
<div class='input-prepend'>
  <button class='btn btn-primary' style='height:28px'>WATCH</button>
  <input class='span2' type='text' placeholder='Add a name ...' />
</div>
