<!-- @NEED User user, String page -->
<aside class="img-thumbnail" style="display:block; margin-top:10px;">
  <section>
    <%= render 'shared/user_info', user: user, complex: page == "home" %>
  </section>
  <section>
    <%= render 'shared/stats', page: page %>
  </section>
  <% if  page == "show" && signed_in? %>
    <section>
      <%= render 'users/follow_form' %>
    </section>
  <% end %>
</aside>

<% if page == "home" %>
  <aside class="img-thumbnail" style="display:block; margin-top:10px;">

      <div id="micropost_form">
        <%= render 'shared/micropost_form' %>
      </div>
  </aside>
<% end %>
