<!-- @NEED User user, String page -->
<aside>
  <section>
    <%= render 'shared/user_info', user: user, complex: page == "home" %>
  </section>
  <section>
    <%= render 'shared/stats', page: page %>
  </section>
  <section>
    <% if page == "home" %>
      <div id="micropost_form"><%= render 'shared/micropost_form' %></div>
    <% end %>
    <%= render 'users/follow_form' if page == "show" && signed_in? %>
  </section>
</aside>
