header
  nav class='navbar navbar-default navbar-fixed-top'
    div class='container-fluid'

      a href=root_path id='logo'
        = image_tag 'logo.png', alt: 'logo', size: '40x30'

      ul class='nav navbar-nav navbar-right'

        - if signed_in?
          li = link_to '所有用户', users_path

          li class='dropdown' = render 'shared/user_drop_down'


        - elsif current_page?(root_path)

          li = link_to '登陆', signin_path

        - elsif current_page?(signin_path)

          li = link_to '首页', root_path
